body.landing {
    background-color: rgb(58,23,63);
}

.hero-content{
  position:relative;
  min-height:600px;
  background-image:url(../assets/images/bloc_jams_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.hero-content .hero-title {
  position:absolute;
  top:40%;
  
/*  why is it that I have to delete all of them for it to undo transfomraiotn?*/
  -webkit-transform: translateY(-50%); /*what's the point of having translateY???'*/
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width:100%;
  text-align: center;
  text-transform:uppercase;
  font-size: 4rem;
  font-weight:300;
  letter-spacing: 0.5rem;
  text-shadow: 1px 1px 0px rgb(58,23,63);
 }

.selling-points{
  position:relative; /*why?*/
}

.point{
    position: relative;/*why?*/
    text-align: center;
    padding: 2rem;
    opacity:1.0;
  
    /*initial state*/
    -webkit-transform: scale(0.75) translateY(5rem);
       -moz-transform: scale(0.75) translateY(5rem);
       transform: scale(0.75) translateY(5rem);
     -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
    transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
  -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  opacity:0
}

.point .point-title{
  font-size: 1.25rem;
}

.ion-music-note, .ion-radio-waves,.ion-iphone{
  color: rgb(233,50,117);
  font-size: 3.5rem;
}

.point:hover{
    position: relative;/*why?*/
    text-align: center;
    padding: 2rem;  
    /*final state*/
  opacity: 1;
    -webkit-transform: scaleX(1) translateY(0rem);
       -moz-transform: scaleX(1) translateY(0rem);
       transform: scaleX(1) translateY(0rem);
     -webkit-transition: all 0.75s ease-in-out 0.5s;
      -moz-transition: all 0.75s ease-in-out 0.5s;
      transition: all 0.75s ease-in-out 0.5s;
  -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}



