html {
height:100%;
font-size: 100%;
}

body{
font-family:'Open Sans';
color:white;
min-height:100%;  /*says the height of the body must be, at minimum, 100% of the window*/  /*what does this mean when we resize the window?*/ 
}


body{
background-color:rgb(58,23,63);
}


.navbar {
padding: 0.5rem;
background-color:rgb(101,18,95);
}

.navbar .logo {
position: relative; 
left: 2rem;
}


.hero-content{
  position:relative;
  min-height:600px;
  background-image:url(../assets/images/bloc_jams_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.hero-content .hero-title {
  position:absolute;
  top:40%;
  
/*  why is it that I have to delete all of them for it to undo transfomraiotn?*/
  -webkit-transform: translateY(-50%); /*what's the point of having translateY???'*/
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width:100%;
  text-align: center;
  text-transform:uppercase;
  font-size: 4rem;
  font-weight:300;
  letter-spacing: 0.5rem;
  text-shadow: 1px 1px 0px rgb(58,23,63);
 }

.selling-points{
  position:relative; /*why?*/
  display:table;
  width:100%;
}

.point{
  position: relative;/*why?*/
  display: table-cell;
  width:33.3%;
  text-align: center;
  padding: 2rem;
}

.point .point-title{
  font-size: 1.25rem;
}

.ion-music-note, .ion-radio-waves,.ion-iphone{
  color: rgb(233,50,117);
  font-size: 3.5rem;
}






